body {
    background-color: powderblue;
  }
    div.a {

      border: 3px solid grey; 
      position: relative; 
      margin-right: 50px; 
      margin-left: 50px; 
      margin-top: 50px; 
      height: 1000px;
    }
    div.bank {
        border: 2px solid grey; 
        background-color: beige; 
        width: 300px; 
        height: 300px; 
        position: absolute; 
        left: 10%;
    }
    div.work {
        border: 2px solid grey; 
        background-color: beige; 
        width: 300px; 
        height: 300px; 
        position: absolute; 
        right: 37%; 
    }
    div.select {
        border: 2px solid grey; 
        background-color: beige; 
        width: 300px; 
        height: 300px; 
        position: absolute; 
        right: 10%; 
    }
    div.komputer{
        border: 2px solid grey; 
        background-color: beige; 
        position: inherit;
        top: 35%;
        left: 10%;
        margin-right: 20%;
        height: 300px;
        
    }
    p.text{
        font: italic bold 16pt/14pt Times, serif;

        color: blue; 
        text-shadow: 2px 2px chartreuse; 
        text-align: center; 
        margin-top: 20px;
    }
    p.header {
        text-align: center;
        text-decoration: underline;
        font: italic bold 25pt/14pt Times, serif;
        padding: 30px;
    }
    p.features {
        margin-top: 10%;
        margin-left: 5%;
    }
    p.label {
        margin-left: 5%;
        margin-top: 10%;
    }
    p.context {
        margin-left: 7%;
        font-size:12px;
        font-family: "Lucida Console", Courier, monospace;
        
        margin-top: -15px;
    }
    p.price{
        text-align: center;
        margin-top: 15%;
    }
    img.logo {
        width: 30px; 
        height: 30px;
        background: transparent;
    }
    select {
        margin-top: 5%;
        margin-left: 55%;
    }
    div.textbox {
        border: 2px solid grey; 
        float: left;
        width: 30%;
        height: 100%;
    }
    div.pic {

        float: right;
        height: 100%;
        
        width: 30%;

    }    div.price {

        float: right;
        height: 100%;
        
        width: 30%;

    }
    #image {
        height: 200px;
    }
    
    
    
    



